import url('https://fonts.googleapis.com/css?family=Raleway|Zeyada')

/* GLOBAL STYLES */
:root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --blue: #2a60a0;
  --red: #8e4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

/* STYLES */
.robot {
  font-family: Raleway, sans-serif;
}

.zeyada {
  font-family: Zeyada, sans-serif;
}

.subtitle {
  font-size: 1.4rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* ELEMENT STYLES */
section {
  border-bottom: 3px solid var(--red);
}

h1 {
  font-family: Zeyada, Raleway, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
}

h3 {
  font-family: Raleway, sans-serif;
  font-size: 1.3rem;
}

div#services {
  background-color: #ccc;
  color: #000;
}

div#portfolio {
  background-color: #8e4444;
  color: white;
}
